h1, h2, h3, h4, h5, h6 {
  color: #4A4A4A;
}

h2 {
  font-size: 20px;
}

hr {
  background-color: #AAA;
  height: 1px;
  border: none;
}

code.inline {
  padding: 3px 6px;
  background-color: #F8F8F8;
  border-radius: 5px;
}

pre > code {
  border-radius: 5px;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.header a {
  text-decoration: none;
}

.footer {
  line-height: 1.4em
}

.footer a {
  color: #888888;
}

.article-footer {
  color: #888888;
}

.article-footer a {
  color: #888888;
}

.tags ul {
  padding-left: 1em;
}

.margintop15-skipfirst + .margintop15-skipfirst {
  margin-top: 15px;
}
