html {
    box-sizing: border-box;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    color: #4A4A4A;
    font-weight: 400;
    line-height: 1;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

* + h1:not(:first-of-type), * + h2 {
    margin-top: 2em;
}

p {
    line-height: 1.5;
}

hr {
    background-color: #ddd;
    margin: 24px 0;
    height: 1px;
    border: none;
}

code.inline {
    padding: 3px 6px;
    background-color: #F7F4F4;
    border-radius: 5px;
}

code.hljs { /* Override styles in highlight-github.css */
    background-color: #F7F4F4;
    border-radius: 4px;
}

a {
    color: #2a7adc;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header a {
    text-decoration: none;
}

.footer a {
    color: #666677;
    text-decoration: underline;
}

.article-footer {
    color: #666677;
}

.article-footer a {
    color: #666677;
    text-decoration: underline;
}

.tags ul {
    padding-left: 1em;
}

.margintop24-skipfirst + .margintop24-skipfirst {
    margin-top: 24px;
}

.logo-image,
.top-tags {
    display: none;
}

@media (min-width: 768px) {
    .logo-image {
        display: inline-block;
    }

    .top-tags {
        display: block;
    }
}


@media (max-width: 480px) {
    .logo-text {
        max-width: 100px;
    }
}
